/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font: 'Inter-Variable';
    --font-accent: "PressStart2P";
    --main-color: #00CC14;
    --bg-color: #000000;
    --font-weight: 465;
    --font-weight-accent: 785;
    --stroke-color: #00cc14;
    --stroke-label-color: #000000;
    --heart-contour: #00cc14;
    --heart-sparks: #ff0000;
    --button-text-color: #00cc14;
    --button-bg-color: #000000;
    /*--bg-image: url(../svg/pattern-dark.svg);*/
    --fon-gradient: repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
    linear-gradient(#007f0c 0.01%, #004306);
}

@media (width <=375px) {
    :root {
        --width-card: 100%;
    }

    a.logo {
        font-size: clamp(2.625rem, 0.5385rem + 10.7692vw, 3.0625rem);
        margin-block-start: 120px;
    }

    .save-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 15px 20px;
    }

    .save-icon {
        width: 28px;
        height: 28px;
    }

}